@import 'bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swipe {
      position: absolute;
      max-height: calc(100vh - 73px);
      width: 100%;
}

.card-container {
  max-height: calc(100vh - 73px);
  height: calc(100vh - 73px);
}

@media screen and (min-width: 768px) {
  .item {
    width: 50% !important;
  }
}