@import 'bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.swipe {
      position: absolute;
      max-height: calc(100vh - 73px);
      width: 100%;
}

.card-container, .wrapper {
  max-height: calc(100vh - 73px);
  height: calc(100vh - 73px);
  margin-top: 73px;
  padding-bottom: 59px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 50% !important;
  }
  .form-login {
    width: 50%;
  }
}